<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<%= link_to 'プロフィールを編集する', edit_path %>
<%= link_to 'ユーザー一覧', edit_path %>

<h1>プロフィール</h1>

<div class="field">
  <p class="field-title">メールアドレス</p>
  <p><%= @user.email %></p>
</div>

<div class="field">
  <p class="field-title">郵便番号</p>
  <p><%= @user.post_code %></p>
</div>

<div class="field">
  <p class="field-title">住所</p>
  <p><%= @user.address %></p>
</div>

<div class="field">
  <p class="field-title">自己紹介</p>
  <p><%= @user.self_introduction %></p>
</div>




