<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>
<%# フォローしていたらフォロー外すボタン、フォローしていなかったらフォローするボタンの表示 %>
<% if @user != current_user %>
  <% if current_user.following?(@user) %>
    <%= link_to 'フォロー外す', user_follow_relationships_path(@user.id), method: :delete, class: "btn-sm btn-danger" %>
  <% else %>
    <%= link_to 'フォローする', user_follow_relationships_path(@user.id), method: :post, class:"btn-sm btn-success" %>
  <% end %>
<% end %>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
    <br>
    <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150]) %>
  <% end %>
</p>

<div class="d-flex">
  <%= link_to follows_user_path(@user) do %>
    <h6>フォロー<%= @followings.count %></h6>
  <% end %>
  <%= link_to followers_user_path(@user) do %>
    <h6>フォロワー<%= @followers.count %></h6>
  <% end %>
</div>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
