<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('books.defaults.title') %></strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t('books.defaults.memo') %></strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= t('books.defaults.author') %></strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= t('books.defaults.picture') %></strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('books.defaults.edit'), edit_book_path(@book) %> |
<%= link_to t('books.defaults.back'), books_path %>
