<h2><%= t('reports.default.title', title: "日報作成") %></h2>

<%= form_with model: @report, local: true do |f| %>
<%= render 'layouts/shared/error_messages', model: f.object %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
