<h1><%= t('reports.default.title', title: "日報詳細") %></h1>
<% if @report.user_id == current_user.id %>
  <%= link_to '編集する', edit_report_path %>
<% end %>
<h3><%= @report.title %></h2>
<p><%= @report.text %></p>

<%= render 'comments/comment', comment: @comment, commentable: @report %>

<%= render 'comments/form', commentable: @report %>
